 <!DOCTYPE html>
<html lang="sp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8b8b86760e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="./styles.css">
	<title>Dashboard page</title>
</head>
<body onload="trigger()">
	<%- include('../components/navbarteacher'); %>
	<div id="showing-section">
		<div>
			<p>choose any student of your class to check either their grades or to update them as well</p>
			<div id="student-info">
				<select class="selectedValue">
					<option value="none"></option>	
				<% for (let index = 0; index < listStudents.length; index++) {%> 
					<option class="chosenValue" value= '<%= listStudents[index]["name_student"] %> <%= listStudents[index]["lastname_student"] %>'><%= listStudents[index]["name_student"] %> <%= listStudents[index]["lastname_student"] %></option>
				<% } %>
				</select>										
			</div>
			<div>
				<% if( gradesPerStudent.length > 0 ) {%>
					<% gradesPerStudent.forEach((user, index)=> { %>
						<div class="grade <%= user.name %> <%= user.lastname %>" id="<%= index %>">
							<span hidden class="<%= user.name %> <%= user.lastname %>"><%= user.module %></span>
							<span hidden class="<%= user.name %> <%= user.lastname %>"><%= user.grade1 %></span> 
							<span hidden class="<%= user.name %> <%= user.lastname %>"><%= user.grade2 %></span>
							<span hidden class="<%= user.name %> <%= user.lastname %>"><%= user.grade3 %></span>
							<span hidden class="<%= user.name %> <%= user.lastname %>"><%= user.gradePerformance1 %></span>
							<span hidden class="<%= user.name %> <%= user.lastname %>"><%= user.gradePerformance2 %></span>
						</div>	
						<% }); %>
						
				<% }%>	
				<form action="/changegrades" class="gradesBox" method="POST">

				</form>
			</div>
		</div>
	</div>
	<%-	include('../components/footer'); %>
<script src="./attached_teachers.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./socket.js" ></script>
<script>
	let chosenStudent = document.querySelector(".selectedValue")
	let form = document.querySelector("form")
	let item = document.querySelectorAll(".grade")

	chosenStudent.addEventListener('change', function(e){
		form.innerHTML = ""
		
		for (let index = 0; index < item.length; index++) {
			let firstname = item[index].className.split(" ")[1]
		 	let lastname = item[index].className.split(" ")[2]
			if (e.target.value == (firstname + " " + lastname)) {
				let module = item[index].children[0].textContent
				let grade1 = item[index].children[1].textContent
				let grade2 = item[index].children[2].textContent
				let grade3 = item[index].children[3].textContent
				let gradePerformance1 = item[index].children[4].textContent
				let gradePerformance2 = item[index].children[5].textContent
				let completeName=firstname +"_" +lastname	
				var str = "<div  class='modulesgrades' >\
				<h3>" + module.toUpperCase() + "</h3>\
				<input hidden type='text' name="+ completeName +" >\
				<p>" + "Grade 1: " + (grade1.length < 1 ? '<input size="1" class="gradesClass" name="gradeExam1_' + module +'">' : grade1) + "</p>\
				<p>" + "Grade 2: " + (grade2.length < 1 ? '<input size="1" class="gradesClass" name="gradeExam2_' + module +'">': grade2)  + "</p>\
				<p>" + "Grade 3: " + (grade3.length < 1 ? '<input size="1" class="gradesClass" name="gradeExam3_' + module +'">': grade3)  + "</p>\
				<p>" + "Grade for performance 1: " + (gradePerformance1.length < 1 ? '<input size="1" class="gradesClass" name="gradePerformance1_' + module +'" >': gradePerformance1) + "</p>\
				<p>" + "Grade for performance 2: " + (gradePerformance2.length < 1 ? '<input size="1" class="gradesClass" name="gradePerformance2_' + module +'" >': gradePerformance2) + "</p>\
				</div>"
				form.innerHTML += str
			}  
		} 
		
		let submitBtn = '<input type="submit" value="Send">'
		let checkInputs = document.querySelector(".gradesClass") 
		if (checkInputs.disabled == false) {
    		form.innerHTML+=submitBtn
		} 
		
	}) 
 
</script>
</html>